In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
%matplotlib inline 
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv("/Users/premswaroop/Desktop/jupyter1/Social_Network_Ads.csv")
df.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [5]:
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
#removing both gender and user id column
df.drop(['Gender','User ID'],axis='columns',inplace=True)
inputs=df.drop("Purchased",axis='columns')
target=df['Purchased']

In [7]:
inputs.head(5)

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [8]:
target.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.33)

In [45]:
len(X_train)

268

In [46]:
len(X_test)

132

In [47]:
from sklearn.preprocessing import StandardScaler

In [48]:
#using feature transformation
#applying standard scaler seperately for both train and test data
#in order to avoid overfitting we do it seperately
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)

In [49]:
X_train_scaled

array([[-1.0760555 ,  0.54866463],
       [ 0.87247743,  1.12257596],
       [-0.14818268,  0.9413408 ],
       [ 0.13017917,  0.33722362],
       [-1.81835376,  0.4278412 ],
       [-1.16884278, -1.38451035],
       [-1.0760555 ,  0.48825292],
       [-1.16884278,  0.57887049],
       [-0.79769365,  0.45804706],
       [-0.79769365, -0.20648184],
       [ 1.89313754, -1.35430449],
       [ 0.87247743, -0.50854043],
       [ 0.40854102, -0.41792286],
       [-0.42654452, -1.11265762],
       [ 0.22296646,  0.21640018],
       [ 0.22296646, -0.62936387],
       [ 1.15083928,  0.60907635],
       [ 0.87247743, -0.53874629],
       [ 1.80035026, -0.2366877 ],
       [-0.33375724, -0.75018731],
       [-0.89048094,  0.51845878],
       [-0.24096996, -0.20648184],
       [ 0.13017917,  1.99854587],
       [ 1.52198841,  1.21319353],
       [ 1.80035026,  1.63607556],
       [-0.14818268,  0.21640018],
       [ 0.87247743,  1.36422283],
       [-0.05539539, -1.0522459 ],
       [-1.26163007, -0.387717  ],
       [-0.70490637,  1.18298768],
       [ 0.40854102, -0.44812872],
       [ 0.87247743, -1.44492207],
       [-0.24096996, -0.53874629],
       [ 1.058052  , -0.08565841],
       [-0.89048094,  0.33722362],
       [-0.51933181,  0.54866463],
       [ 1.42920113,  0.12578261],
       [-1.81835376, -0.71998145],
       [ 0.31575374, -0.2366877 ],
       [ 0.40854102,  0.21640018],
       [-1.0760555 , -1.59595136],
       [-1.81835376, -0.47833457],
       [ 2.07871211,  1.03195838],
       [-1.26163007, -0.387717  ],
       [ 1.058052  , -1.20327519],
       [ 0.68690287,  0.33722362],
       [-0.89048094, -0.26689356],
       [-0.42654452, -1.20327519],
       [ 1.15083928, -0.71998145],
       [ 1.80035026, -1.0522459 ],
       [-0.42654452, -0.75018731],
       [-0.24096996,  0.12578261],
       [-0.14818268, -0.47833457],
       [-0.05539539, -0.32730528],
       [ 1.24362656, -1.35430449],
       [ 0.77969015, -1.38451035],
       [ 0.40854102,  0.15598847],
       [ 0.31575374, -0.14607012],
       [-1.26163007, -1.23348105],
       [-0.89048094, -0.93142246],
       [-1.0760555 ,  0.36742948],
       [-1.6327792 ,  0.4278412 ],
       [-0.51933181,  1.48504627],
       [-0.24096996,  0.21640018],
       [ 1.058052  , -1.20327519],
       [-1.0760555 , -1.5657455 ],
       [-0.05539539,  0.76010565],
       [-1.0760555 ,  0.12578261],
       [ 1.89313754,  0.82051737],
       [ 1.058052  ,  0.63928221],
       [-1.26163007, -1.08245176],
       [-0.24096996, -0.2366877 ],
       [-0.70490637,  2.02875173],
       [-0.89048094, -0.71998145],
       [ 0.77969015,  0.4278412 ],
       [ 0.96526472,  0.85072323],
       [-0.51933181, -1.50533378],
       [ 1.98592483, -1.17306933],
       [-0.14818268, -0.41792286],
       [ 1.98592483,  1.87772243],
       [-1.35441735, -0.14607012],
       [-0.98326822,  0.85072323],
       [ 0.96526472, -1.17306933],
       [ 0.87247743, -1.29389277],
       [ 0.31575374, -0.26689356],
       [-0.24096996,  0.2768119 ],
       [-1.0760555 , -1.53553964],
       [ 0.22296646, -0.26689356],
       [ 0.13017917,  1.99854587],
       [ 0.77969015,  0.60907635],
       [ 1.98592483,  0.45804706],
       [-1.81835376,  0.00495917],
       [-1.72556648,  0.24660604],
       [ 0.68690287, -1.38451035],
       [-1.0760555 ,  1.51525213],
       [-1.0760555 , -0.99183418],
       [ 2.07871211,  1.21319353],
       [-0.05539539, -0.17627598],
       [ 0.59411559, -0.87101074],
       [-0.05539539,  0.36742948],
       [ 0.96526472,  0.18619433],
       [ 2.07871211,  0.45804706],
       [ 0.31575374,  0.57887049],
       [-1.44720463, -0.387717  ],
       [ 1.15083928, -1.44492207],
       [ 0.31575374, -0.50854043],
       [-0.61211909, -1.50533378],
       [-0.05539539,  0.06537089],
       [-1.16884278,  0.66948807],
       [-0.89048094,  0.57887049],
       [ 0.13017917,  0.85072323],
       [-1.72556648, -1.47512792],
       [-1.26163007, -1.35430449],
       [-0.05539539,  0.30701776],
       [ 0.13017917, -0.26689356],
       [-0.98326822, -1.11265762],
       [-0.24096996,  0.88092908],
       [-0.51933181,  1.48504627],
       [ 0.96526472,  2.11936931],
       [-0.05539539, -0.44812872],
       [-0.70490637,  0.63928221],
       [ 0.87247743, -0.62936387],
       [ 1.33641385,  2.48183962],
       [-0.98326822, -0.29709942],
       [ 0.03739189, -0.53874629],
       [ 1.058052  , -0.96162832],
       [ 1.70756298,  1.96834001],
       [ 0.40854102,  1.0923701 ],
       [ 0.03739189,  0.09557675],
       [-0.24096996, -1.23348105],
       [-0.24096996, -0.71998145],
       [ 1.33641385,  1.39442869],
       [-1.72556648, -1.26368691],
       [-0.89048094, -0.26689356],
       [-0.05539539,  0.21640018],
       [ 0.22296646,  1.18298768],
       [-0.14818268, -0.53874629],
       [-1.26163007, -0.29709942],
       [ 1.89313754,  1.00175252],
       [ 0.77969015, -0.26689356],
       [ 0.87247743, -1.14286347],
       [ 0.22296646,  0.09557675],
       [-0.51933181,  0.97154666],
       [-0.61211909,  0.09557675],
       [ 1.52198841,  0.06537089],
       [ 0.03739189,  0.36742948],
       [ 0.77969015,  0.18619433],
       [-0.70490637,  1.45484041],
       [ 0.13017917,  0.15598847],
       [ 0.96526472, -1.0522459 ],
       [-0.14818268,  2.30060446],
       [ 0.22296646,  0.12578261],
       [-0.61211909,  0.18619433],
       [ 0.40854102,  0.33722362],
       [ 0.40854102,  0.36742948],
       [ 0.22296646, -0.32730528],
       [-0.24096996, -1.38451035],
       [-0.24096996, -0.44812872],
       [-1.0760555 , -1.14286347],
       [-0.79769365, -1.20327519],
       [ 0.31575374, -0.47833457],
       [ 1.80035026,  0.18619433],
       [-0.79769365, -0.75018731],
       [ 0.40854102,  1.21319353],
       [-0.70490637,  0.57887049],
       [ 0.13017917,  0.09557675],
       [ 0.22296646, -0.08565841],
       [-0.05539539,  2.30060446],
       [-0.98326822, -1.53553964],
       [ 1.70756298, -0.2366877 ],
       [-0.79769365,  2.4214279 ],
       [-0.70490637, -0.56895215],
       [-0.89048094, -1.08245176],
       [-0.05539539, -0.47833457],
       [-1.72556648,  0.51845878],
       [-0.89048094, -0.387717  ],
       [-0.42654452, -0.81059902],
       [ 2.07871211, -0.78039317],
       [-1.16884278, -1.0522459 ],
       [-0.24096996, -1.35430449],
       [ 0.03739189,  0.09557675],
       [-1.44720463, -1.50533378],
       [-1.44720463,  0.39763534],
       [ 0.13017917,  0.2768119 ],
       [-1.44720463, -1.23348105],
       [ 0.03739189,  1.36422283],
       [ 1.52198841, -1.26368691],
       [-0.89048094,  1.66628142],
       [ 0.96526472, -1.0522459 ],
       [ 1.42920113, -1.02204004],
       [ 1.33641385, -0.9012166 ],
       [ 0.13017917, -0.78039317],
       [-0.42654452, -0.50854043],
       [ 1.98592483,  0.24660604],
       [ 0.40854102, -0.08565841],
       [ 1.6147757 ,  1.72669314],
       [-0.24096996, -0.29709942],
       [-0.14818268, -0.2366877 ],
       [ 0.40854102, -0.08565841],
       [ 0.03739189, -0.20648184],
       [ 0.77969015,  0.33722362],
       [ 1.89313754, -0.9012166 ],
       [ 1.058052  , -0.87101074],
       [ 1.058052  ,  2.20998688],
       [-0.70490637,  0.36742948],
       [-0.24096996, -0.53874629],
       [ 0.40854102,  2.45163376],
       [ 0.87247743, -0.75018731],
       [ 0.31575374,  0.09557675],
       [-0.98326822, -0.32730528],
       [ 0.96526472,  1.54545798],
       [-0.98326822, -1.44492207],
       [-1.16884278,  0.36742948],
       [-0.24096996,  1.21319353],
       [-0.98326822, -0.41792286],
       [ 0.68690287, -1.08245176],
       [ 1.24362656,  1.99854587],
       [-0.42654452,  1.36422283],
       [-1.53999192,  0.12578261],
       [-1.0760555 , -1.59595136],
       [-0.33375724,  1.42463455],
       [ 0.68690287, -1.26368691],
       [-1.6327792 , -0.96162832],
       [ 0.13017917, -0.20648184],
       [-0.51933181,  2.48183962],
       [-0.33375724,  0.12578261],
       [-1.6327792 ,  0.4278412 ],
       [ 0.22296646, -0.20648184],
       [ 1.89313754,  2.30060446],
       [ 0.77969015, -1.20327519],
       [-0.05539539,  0.36742948],
       [-0.51933181,  2.02875173],
       [-1.53999192,  0.00495917],
       [-1.0760555 ,  0.36742948],
       [-1.0760555 , -0.75018731],
       [ 0.96526472,  1.90792829],
       [-0.61211909,  0.00495917],
       [-0.24096996, -0.26689356],
       [ 1.15083928, -0.96162832],
       [ 0.96526472, -0.81059902],
       [ 0.87247743,  2.30060446],
       [ 0.40854102,  0.36742948],
       [ 0.5013283 ,  1.84751658],
       [-1.44720463, -0.14607012],
       [-1.53999192,  0.60907635],
       [ 0.03739189, -0.53874629],
       [-1.26163007, -1.47512792],
       [-0.05539539,  0.33722362],
       [-0.24096996, -0.62936387],
       [-0.70490637,  0.33722362],
       [-0.79769365, -0.62936387],
       [ 0.77969015, -1.08245176],
       [ 1.98592483, -0.78039317],
       [ 0.03739189, -0.26689356],
       [ 0.22296646,  2.24019274],
       [ 0.22296646, -0.32730528],
       [-0.89048094,  0.63928221],
       [-1.72556648, -1.41471621],
       [-1.0760555 ,  0.39763534],
       [ 1.6147757 ,  1.87772243],
       [ 0.68690287, -0.68977559],
       [ 0.40854102, -0.41792286],
       [-1.81835376,  0.54866463],
       [ 1.89313754, -0.62936387],
       [ 0.87247743, -1.02204004],
       [-0.70490637, -0.17627598],
       [-1.35441735,  0.4278412 ],
       [ 0.22296646, -0.2366877 ]])

In [50]:
X_test_scaled=scaler.transform(X_test)
X_test_scaled

array([[-0.79769365,  0.36742948],
       [ 1.98592483,  2.2703986 ],
       [-0.05539539,  0.2768119 ],
       [-0.24096996, -0.08565841],
       [-0.61211909, -1.02204004],
       [ 0.31575374, -0.47833457],
       [-0.14818268,  1.51525213],
       [-0.24096996, -0.387717  ],
       [-0.24096996,  0.69969393],
       [-1.0760555 , -1.08245176],
       [-0.24096996, -0.32730528],
       [-0.24096996,  0.60907635],
       [ 0.40854102,  0.66948807],
       [-1.35441735, -0.05545255],
       [-1.35441735, -0.59915801],
       [-0.98326822,  2.08916345],
       [-0.79769365,  0.45804706],
       [-0.61211909, -0.05545255],
       [ 0.31575374,  0.33722362],
       [ 0.31575374,  0.12578261],
       [ 1.33641385,  2.11936931],
       [-0.05539539,  2.08916345],
       [-0.98326822,  0.48825292],
       [-1.6327792 , -0.56895215],
       [-0.61211909, -0.29709942],
       [ 1.42920113,  0.4278412 ],
       [ 0.96526472,  1.99854587],
       [-0.98326822, -0.29709942],
       [-0.05539539,  0.09557675],
       [ 0.13017917,  1.15278182],
       [ 2.07871211, -0.78039317],
       [-1.26163007,  0.63928221],
       [ 1.058052  ,  0.18619433],
       [ 0.96526472, -0.99183418],
       [ 0.31575374, -0.68977559],
       [ 0.87247743,  1.18298768],
       [ 0.13017917, -0.78039317],
       [-1.35441735, -1.44492207],
       [-0.24096996, -0.9012166 ],
       [ 0.68690287, -1.38451035],
       [ 0.22296646,  0.30701776],
       [ 0.40854102,  0.06537089],
       [-0.79769365, -0.75018731],
       [-0.98326822,  0.66948807],
       [-1.72556648,  0.06537089],
       [-0.51933181, -1.50533378],
       [-0.70490637, -1.53553964],
       [-1.0760555 , -0.47833457],
       [-0.24096996,  0.33722362],
       [-1.16884278,  0.33722362],
       [-0.61211909,  0.63928221],
       [-1.26163007,  0.48825292],
       [ 0.31575374,  0.12578261],
       [ 0.13017917,  1.63607556],
       [ 1.33641385,  0.66948807],
       [-0.24096996,  0.21640018],
       [ 0.87247743, -1.35430449],
       [-0.05539539,  0.18619433],
       [ 0.96526472, -1.14286347],
       [-0.33375724,  1.33401697],
       [-0.98326822,  0.63928221],
       [-0.14818268,  1.756899  ],
       [-0.05539539,  2.36101618],
       [ 0.03739189, -0.08565841],
       [ 1.42920113,  1.0923701 ],
       [-0.42654452,  0.03516503],
       [ 0.96526472,  2.20998688],
       [ 1.24362656,  2.36101618],
       [ 0.13017917,  0.09557675],
       [ 0.87247743, -0.56895215],
       [ 0.77969015, -1.35430449],
       [-1.72556648, -1.29389277],
       [-0.79769365,  0.21640018],
       [-0.98326822,  0.60907635],
       [-1.6327792 ,  0.54866463],
       [ 1.6147757 , -0.87101074],
       [ 0.03739189,  1.33401697],
       [-0.42654452,  2.45163376],
       [ 0.59411559,  2.14957517],
       [-1.6327792 ,  0.18619433],
       [ 0.40854102, -0.11586427],
       [ 0.77969015,  0.85072323],
       [ 0.31575374, -1.14286347],
       [-0.61211909,  0.24660604],
       [ 0.03739189, -0.50854043],
       [-1.6327792 , -1.35430449],
       [-0.24096996, -1.44492207],
       [-0.61211909, -1.59595136],
       [ 2.07871211, -0.65956973],
       [ 0.22296646, -0.32730528],
       [-0.14818268,  1.72669314],
       [-0.14818268, -0.14607012],
       [ 0.5013283 ,  1.33401697],
       [-1.35441735, -1.20327519],
       [-0.51933181,  1.57566384],
       [ 0.03739189, -0.20648184],
       [-0.89048094,  0.48825292],
       [ 1.33641385, -1.41471621],
       [-0.24096996,  0.12578261],
       [-0.33375724, -1.29389277],
       [-0.14818268, -1.0522459 ],
       [ 0.13017917,  0.21640018],
       [-0.70490637, -1.59595136],
       [ 0.31575374,  0.36742948],
       [ 1.80035026, -1.26368691],
       [-0.24096996,  0.09557675],
       [-0.24096996, -0.87101074],
       [-0.24096996, -1.29389277],
       [-0.61211909,  1.51525213],
       [ 0.77969015, -0.81059902],
       [ 0.77969015,  1.48504627],
       [ 0.96526472,  0.66948807],
       [ 1.98592483,  0.60907635],
       [ 0.5013283 ,  1.96834001],
       [-0.33375724, -0.75018731],
       [-0.05539539,  0.12578261],
       [ 1.70756298,  1.0923701 ],
       [ 0.22296646,  0.21640018],
       [ 1.42920113,  2.2703986 ],
       [ 0.31575374,  0.12578261],
       [-0.42654452, -0.2366877 ],
       [-0.24096996,  0.15598847],
       [-1.53999192, -1.5657455 ],
       [ 2.07871211, -1.02204004],
       [ 1.52198841,  1.0923701 ],
       [ 0.68690287,  1.90792829],
       [ 0.03739189, -0.387717  ],
       [-0.05539539, -0.387717  ],
       [ 1.058052  ,  0.54866463],
       [ 1.058052  ,  0.60907635],
       [ 0.31575374,  0.12578261],
       [-0.24096996,  2.39122204]])

In [51]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=50)
model.fit(X_train_scaled,y_train)

RandomForestClassifier(n_estimators=50)

In [43]:
#this is the accuracy we got after applying standardscaler
#test size =0.2
model.score(X_test_scaled,y_test)

0.90625

In [52]:
#this is the score we got after increasing test size=0.33
#with standardscaler
#n_estimators=50
model.score(X_test_scaled,y_test)

0.9090909090909091

In [ ]:
#we see that after removing gender column we are getting more accuracy 
#in random_forest file  we can see accuracy with gender column is around 87%